<!-- Start Footer Area -->
<footer class="footer" th:fragment="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="/"><img src="/images/logo2.png" alt="#"></a>
            </div>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
<!--          <div class="single-footer links">-->
<!--            <h4>Information</h4>-->
<!--            <ul>-->
<!--              <li><a href="#">About Us</a></li>-->
<!--              <li><a href="#">Faq</a></li>-->
<!--              <li><a href="#">Terms & Conditions</a></li>-->
<!--              <li><a href="#">Contact Us</a></li>-->
<!--              <li><a href="#">Help</a></li>-->
<!--            </ul>-->
<!--          </div>-->
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
<!--          <div class="single-footer links">-->
<!--            <h4>Customer Service</h4>-->
<!--            <ul>-->
<!--              <li><a href="#">Payment Methods</a></li>-->
<!--              <li><a href="#">Money-back</a></li>-->
<!--              <li><a href="#">Returns</a></li>-->
<!--              <li><a href="#">Shipping</a></li>-->
<!--              <li><a href="#">Privacy Policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Contact To Me</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>개발자: 김주혁</li>
                <li>메일: rlawngur145@naver.com</li>
                <li>연락처: 010-3082-2878</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="https://github.com/Joo-v7"><i class="fa fa-github"></i></a></li>
              <li><a href="https://lightningtech.tistory.com/"><i class="fa fa-newspaper-o"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>Copyright © 2025 <a href="https://chokchok.site" target="_blank">chokchok</a>  -  All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->